{% extends "admin/change_form.html" %}

{% block object-tools-items %}
{{ block.super }}
<li>
  <a href="{% url 'pdf-print-page' original.id %}" style="
  background: #7298B5;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: var(--button-fg);
  cursor: pointer;
  transition: background 0.15s;">PDF</a>
</li>
<li>
  <a href="{% url 'request-success' original.id %}" style="
  background: #36b94e;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: var(--button-fg);
  cursor: pointer;
  transition: background 0.15s;">Одобрить</a>
</li>

{% endblock %}
