{% extends 'base.html' %}
{% load static i18n %}

{% block body %}
    <main>
        <!-- <img src="@img/road-1072823.jpg" alt=""> -->
        <!-- <img src="@img/user.png" alt=""> -->

        <secti  on class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image:url({% static 'img/DSCF5723.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="page__title-wrapper mt-5">
                            <h3 class="page__title"> {% trans 'Станьте экспертом' %}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </secti>

        <section class="blog__area" style="padding: 130px 0 0 0;">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="blog__wrapper">
                            <div class="blog__text text-justify mb-5">
                                <p class="text-justify">{% trans 'Станьте экспертом Программы обучения "Almaty Business" и создавайте лучшие бесплатные образовательные программы для предпринимателей города Алматы вместе с нами!' %}
                                    {% trans 'Мы ищем экспертов по разным направлениям бизнеса. У нас есть готовые и адаптивные решения, проверенные методологии, а также - опытные эксперты-практики, которые сотрудничают с нами на протяжении всей истории проекта. Однако, мы растем вместе с бизнесом города и стремимся расширить нашу команду. Мы предоставляем онлайн и оффлайн площадки для проведения занятий. Более 4000 предпринимателей успешно завершили наши курсы и начали замечать изменения в показателях своего бизнеса уже во вовремя обучения.' %}<br>
                            <br>
                            {% trans 'Что вы получите от участия в Программе:' %}
                                <ul>
                                    <li>{% trans 'Комьюнити экспертов и предпринимателей' %} </li>
                                    <li>{% trans 'Возможность регулярно развивать soft skills и совершенствоваться в своей сфере' %}  </li>
                                    <li>{% trans 'Развитие личного бренда и новые публикации о вас в социальных сетях и на различных медиа площадках' %} </li>
                                    <li>{% trans 'Структурирование собственных знаний благодаря обучению других' %}</li>
                                </ul>
                                <br>
                                <p>{% trans 'Если у Вас есть желание работать с нами, просим написать на почту almatybusiness.gov@gmail.com, либо на' %} <span style="color: rgb(16, 199, 16);">{% trans 'WhatsApp 8-777-313-75-75' %}</span>. {% trans 'Наши координаторы свяжутся с Вами!' %}</p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--
    Станьте экспертом Программы обучения Almaty business!
Давайте вместе создавать лучшие бесплатные образовательные программы для предпринимателей города Алматы!
Мы ищем экспертов — по разным направлениям бизнеса.
У нас есть опытные эксперты-практики, проверенные методологии, готовые и адаптивные решения!  Но мы растем вместе с бизнесом города Алматы, и стремимся расширить команду !                                                                                                                     Мы предоставляем онлайн и офлайн площадки для проведения занятий.
Более 4000  тысяч предпринимателей успешно завершили наши курсы  и улучшили показатели в своем бизнесе.
Что вы получите от участия в Программе:
1. Комьюнити экспертов и предпринимателей
2.  Возможность регулярно развивать soft skills и совершенствоваться в своей сфере
3. Развитие личного бренда и новые публикации о вас в социальных сетях и на различных медиа площадках
4. Структурирование собственных знаний благодаря обучению других
5. Возможность дополнительного заработка
Если у Вас есть желание работать с нами, просим оставить заявку на почте info@edu.almatybusiness.gov.kz, либо написать нам на WhatsApp +77780609439
С вами свяжутся наши координаторы!
 -->
    </main>
{% endblock body %}
