{% load static i18n widget_tweaks %}
<!-- section datePicker end -->
<section class="brand__area" style="padding-top: 30px;">
  <div class="container">
    <div class="section__title-wrapper section-padding mb-5 text-center">
      <h2 class="section__title">
        <span class="yellow-bg">
          ЗАЯВКА
          <img src="img/yellow-bg.png" alt="">
        </span>
      </h2>
      <h4>
        участника Программы обучения на безвозмездной основе <br>
        для действующих предпринимателей города Алматы <br>
      </h4>
    </div>
    <div class="row">
      {% if messages %}
<div class="alert-message">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
            <form method="POST" name="form" id="task-form">
              {% for error in form.non_field_errors %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>{{ error }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
              {% csrf_token %}
              <div class="course_info row py-3 my-3" style="box-shadow: 0 10px 13px 0 rgba(3,24,128,.2);">
                {% for field in form %}
                {% if forloop.counter < 6 %}
                <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">
                      {{ field.label }}
                      {% if field.field.required %}
                      <span class="uk-text-bold uk-text-danger"> *</span>
                      {% endif %}
                    </label>
                    {% if field|widget_type == 'select' %}
                      {% render_field field|add_class:'form-select' %}
                    {% elif field|widget_type == 'checkboxinput' %}
                      {% render_field field|add_class:'form-check-input ' %}
                    {% else %}
                      {% render_field field|add_class:'form-control' %}
                    {% endif %}
                    {% if field.help_text %}
                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom">    {{ field.help_text }}
                    </p>
                    {% endif %}
                    {% for error in field.errors %}
                  <p>
                    {{ error }}
                  </p>
                  {% endfor %}
                  </div>
                  {% endif %}
                <!-- {% if field|widget_type == 'select' %}
                  {% endif %} -->
                  {% endfor %}
              </div>

              <div class="course_info row my-3 py-3" style="box-shadow: 0 10px 13px 0 rgba(3,24,128,.2);">

                  {% for field in form %}

                  {% if forloop.counter > 5 and forloop.counter < 10  %}
                  <div class="col-md-6">
                      <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}
                        {% if field.field.required %}
                          <span class="uk-text-bold uk-text-danger"> *</span>
                        {% endif %}
                      </label>
                    {% if field|widget_type == 'select' %}
                      {% render_field field|add_class:'form-select' %}
                    {% elif field|widget_type == 'checkboxinput' %}
                      {% render_field field|add_class:'form-check-input ' %}
                    {% else %}
                      {% render_field field|add_class:'form-control' %}
                    {% endif %}
                    {% for error in field.errors %}
                      <p>
                        {{ error }}
                      </p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>

              <div class="course_info row my-3 py-3" style="box-shadow: 0 10px 13px 0 rgba(3,24,128,.2);">

                  {% for field in form.visible_fields %}

                  {% if forloop.counter > 9 and forloop.counter < 15  %}
                  <div class="col-md-6">
                      <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}
                        {% if field.field.required %}
                          <span class="uk-text-bold uk-text-danger"> *</span>
                        {% endif %}
                      </label>
                    {% if field|widget_type == 'select' %}
                      {% render_field field|add_class:'form-select' %}
                    {% elif field|widget_type == 'checkboxinput' %}
                      {% render_field field|add_class:'form-check-input ' %}
                    {% else %}
                      {% render_field field|add_class:'form-control' %}
                    {% endif %}
                    {% for error in field.errors %}
                      <p>
                        {{ error }}
                      </p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>

              <div class="course_info row my-3 py-3" style="box-shadow: 0 10px 13px 0 rgba(3,24,128,.2);">

                  {% for field in form.visible_fields %}

                  {% if forloop.counter > 14  %}
                  <div class="col-md-6">
                      <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}
                        {% if field.field.required %}
                          <span class="uk-text-bold uk-text-danger"> *</span>
                        {% endif %}
                      </label>
                    
                    {% for error in field.errors %}
                      <p>
                        {{ error }}
                      </p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>

              <div class="col-12 row d-flex text-center justify-content-between mt-3 p-0 m-0">
                  <!-- <div class="col-md-4"> -->
                    <div id="comment"></div>
                      <div class="col-12 row col-md-8 p-0 m-0">
                        <button data-bs-toggle="modal" href="#layer" role="button" id="btn-layer" type="button"  class="btn col-6 col-md-4 m-0" style="background-color : #63aa48; color: #fff;">Пользовательское соглашение</button>
                        <input type="checkbox" id="checkbox-layer" class="ms-3" >
                        <p class="col-5" style="margin: auto 0;">Потвердите пользовательское соглашение</p> 
                      </div>
                      <button type="submit" id="myButton" disabled class="btn text-center col-12 col-md-4 m-0 mt-2" style="background-color : #63aa48; color: #fff;">Отправить</button>
                  <!-- </div>  -->
              </div>
              
            </form>
        </div>
    </div>
    <div class="modal fade" id="layer" aria-hidden="true" aria-labelledby="layerLabel" tabindex="-1">
      <div class="modal-dialog  modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h1 class="modal-title fs-5" id="exampleModalToggleLabel"></h1> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          О правах использования веб-платформы
          <br />
          <strong>1.Понятия и термины</strong>
          <br />
          Соглашение – настоящее Пользовательское соглашение. Исполнитель – КГУ
          «Управление предпринимательства и инвестиций города Алматы» - юридическое
          лицо, заключившее с Оператором Договор, использующий Портал для оказания
          информационных и интерактивных услуг/сервисов Пользователям. Оператор –
          ТОО «Форум МСБ» - юридическое лицо, заключившее с Исполнителем Договор;
          Автор и Правообладатель Портала, предоставляющий ежемесячный доступ к
          Порталу Исполнителю, Посетителю и Пользователю. Пользователь – любое
          физическое или юридическое лицо, зарегистрировавшееся на Портале и
          пользующееся услугами Портала. Посетитель - любое физическое или
          юридическое лицо, которое посетило Портал за определенный промежуток
          времени. Стороны - сторонами Соглашения являются совместно Исполнитель,
          Оператор и Пользователь. Третье лицо - лицо, не являющееся Пользователем,
          Исполнителем и (или) Оператором, но связанное с ними (ним)
          обстоятельствами или правоотношениями по сбору, обработке и защите
          персональных данных. Портал - официальный информационный ресурс с доменом
          almatybusiness.gov.kz Сервисы — отдельные компоненты Портала, включающие в
          себя информационные и интерактивные услуги: консультации по
          государственным программам поддержки и развития бизнеса, финансовые меры
          поддержки, консультации по получению разрешительных документов, бесплатное
          обучение, публикации последних новостей и другую информационную поддержку.
          Персональные данные - сведения, регламентированные настоящим Соглашением,
          относящиеся к определенному или определяемому на их основании
          Пользователю, зафиксированные на электронном, бумажном и (или) ином
          материальном носителе, в том числе данные, предоставленные в процессе
          использования Сервисов портала, первичные статистические данные.
          Регистрация – создание профиля Пользователя с указанием аутентификационных
          данных для получения полного доступа к Сервисам. Регистрация на Портале
          является бесплатной и добровольной. Сбор персональных данных - действия,
          направленные на получение персональных данных, в том числе
          конфиденциальной информации. МСБ – малый и средний бизнес. Обработка
          персональных данных - действия, направленные на накопление, хранение,
          изменение, дополнение, использование, распространение, обезличивание,
          блокирование и уничтожение персональных данных.
          <br />
          <strong>2. Общие положения</strong>
          <br />
          2.1. Настоящее Соглашение является публичной офертой. Получая доступ к
          материалам Портала и его компонентам, Пользователь считается
          присоединившимся и принявшим все условия настоящего Соглашения.
          Зарегистрировавшись на Портале, Пользователь подтверждает, что ознакомился
          с условиями настоящего Соглашения в полном объеме до начала использования
          Сервисов на Портале.
          <br />
          2.2. Начало использования Сервисов в любой форме означает, что
          Пользователь принимает все условия настоящего Соглашения в полном объеме
          без каких-либо изъятий и ограничений со стороны Пользователя и обязуется
          их соблюдать. Использование Сервисов на иных условиях не допускается.
          Письменная форма сделки соблюдена.
          <br />
          2.3. В случае несогласия с условиями Соглашения, Пользователю следует
          незамедлительно прекратить любое использование Сервисов на Портале.
          <br />
          2.4. Соглашение (в том числе любая из его частей) может быть изменено
          Исполнителем без какого-либо специального уведомления. Новая редакция
          Соглашения вступает в силу с момента ее размещения на Портале.
          <br />
          2.5. Оператор предоставляет Пользователю возможность безвозмездно
          использовать Сервисы Портала на условиях, изложенных в настоящем
          Соглашении. Настоящее Соглашение вступает в силу с момента выражения
          Пользователем согласия с его условиями в порядке, предусмотренном в п.
          2.2. настоящего Соглашения.
          <br />
          2.6. Оператор вправе размещать на Портале любые информационные и/или
          рекламные материалы и ссылки.
          <br />
          <strong>3. Права и обязанности Сторон</strong>
          <br />
          3.1. Оператор вправе:
          <br />
          3.1.1. в случае необходимости проверять достоверность введенных данных
          Пользователя, в том числе путем обращения в государственные органы и иные
          организации;
          <br />
          3.1.2. в случае нарушения Пользователем условий настоящего Соглашения
          отказать в регистрации Пользователя, удалить или блокировать учетную
          запись Пользователя;
          <br />
          3.1.3. в любое время изменять, добавлять или удалять пункты настоящего
          Соглашения без уведомления Пользователя.
          <br />
          3.2. Оператор обязан:
          <br />
          3.2.1. обеспечить функционирование Портала и его компонентов;
          <br />
          3.2.2. сохранять в тайне от посторонних лиц, не связанных с процессом
          обмена данными, вверенный ему пароль для доступа Пользователя, за
          исключением случаев, предусмотренных законодательными актами Республики
          Казахстан.
          <br />
          3.3. Пользователь вправе:
          <br />
          3.3.1. вносить предложения по усовершенствованию работы Сервисов.
          <br />
          3.3.2. направлять обращения, предложения, жалобы, связанные с
          использованием (невозможностью использования) Портала посредством онлайн
          обращения «обратная связь».
          <br />
          3.4. Пользователь обязан:
          <br />
          3.4.1. Для регистрации на Портале и получении его Сервисов:
          <br />
          1) иметь ИИН (для физических лиц/индивидуальных предпринимателей) или БИН
          (для юридических лиц); 2) на момент регистрации иметь действующую
          электронную цифровую подпись (далее - ЭЦП), выданную Национальным
          удостоверяющим центром Республики Казахстан или зарегистрироваться
          посредством внесения данных номера мобильного телефона; 3) пройти
          процедуру регистрации на Портале. 3.4.2. Предоставить Оператору точную и
          полную информацию по пунктам, предлагаемым в форме регистрации на Портале
          или при использовании его компонентов.
          <br />
          3.4.3. Не предпринимать действий, которые могут рассматриваться как
          нарушающие законодательство Республики Казахстан или нормы международного
          права, в том числе в сфере интеллектуальной собственности, авторских и/или
          смежных правах, а также любых действий, которые приводят или могут
          привести к нарушению нормальной работы и сервисов Портала и его
          компонентов.
          <br />
          3.4.4. При работе на Портале не выдавать себя за другое лицо, не
          использовать материалы, содержащие вирусы или другое вредоносное
          программное обеспечение, не записывать пароли доступа на носителях
          информации, не передавать полученные идентификаторы доступа третьим лицам,
          использовать собственную ЭЦП.
          <br />
          3.4.5. Не использовать Портал и полученную на Портале информацию в целях
          терроризма, экстремизма, разжигания межнациональной розни и в иных
          запрещенных законодательством Республики Казахстан целях.
          <br />
          <strong>4. Правила пользования Порталом</strong>
          <br />
          4.1. Пользователь обязуется исполнять нижеследующие правила пользования
          Порталом:
          <br />
          <ul>
              <li>
                  до момента регистрации Посетитель обязан ознакомиться с условиями
                  Соглашения, в случае несогласия Посетителя с условиями, изложенными в
                  Соглашении, он не должен проходить регистрацию на Портале и (или)
                  получать какие-либо Услуги, предоставляемые Исполнителем по настоящему
                  Договору;
              </li>
              <li>
                  регистрация на Портале осуществляется по адресу:
                  https://almatybusiness.gov.kz/login;
              </li>
              <li>
                  данные, вносимые при регистрации Пользователем, должны быть
                  достоверными, и Пользователь несет персональную ответственность за
                  достоверность и правильность вносимых данных;
              </li>
              <li>
                  Пользователь самостоятельно несет ответственность за сохранение
                  конфиденциальности своего пароля;
              </li>
              <li>
                  в случае несанкционированного использования Личного кабинета и (или)
                  пароля Пользователя последний обязуется незамедлительно уведомить об
                  этом Оператора. Оператор не несет ответственность за любые убытки,
                  причиненные Пользователю в связи с несанкционированным использованием
                  его Личного кабинета и (или) пароля;
              </li>
              <li>
                  при использовании Портала Пользователю запрещаются любые действия,
                  направленные на получение несанкционированного доступа к ресурсам
                  сервера Исполнителя, Персональным учетным и иным данным других
                  Пользователей, а также любым другим данным, доступным через сеть
                  Интернет;
              </li>
              <li>
                  пользование Порталом и (или) использование его компонентов должно
                  осуществляться Пользователем только для законных целей и законными
                  способами в соответствии с законодательством Республики Казахстан;
              </li>
              <li>
                  Пользователь самостоятельно следит за изменениями в условиях
                  настоящего Соглашения, вносимыми Оператором.
              </li>
          </ul>
          <br />
          4.2. Портал может быть временно недоступен, частично или полностью, и,
          соответственно, оказание Услуг может быть временно прекращено, частично
          или полностью по причине проведения профилактических или иных работ, а
          также по любым другим причинам технического характера. Оператор имеет
          право периодически проводить необходимые профилактические или иные работы
          с предварительным уведомлением Пользователей или без такового.
          <br />
          <strong>5. Условия оказания услуг, согласие на сбор и обработку персональных
              данных</strong>
          <br />
          5.1. В соответствии с законодательством Республики Казахстан,
          регламентирующим отношения, связанные со сбором, обработкой Персональных
          данных при совершении Пользователем Акцепта, в порядке, определенном
          настоящим Соглашением, Пользователь дает безусловное согласие Оператору,
          Исполнителю и Третьим лицам на Сбор, Обработку, трансграничную передачу
          (при необходимости) Персональных данных Пользователя, не противоречащими
          законодательству РК способами.
          <br />
          5.2. Под Персональными данными Пользователя Стороны определили
          нижеследующие сведения, относящиеся к Пользователю, а также происходящие в
          них в будущем изменения и (или) дополнения, зафиксированные на
          электронном, бумажном и (или) ином материальном носителе, включая, но не
          ограничиваясь:
          <ul>
              <li>ФИО физического лица, наименование ИП, наименование юридического лица;
              <li>Адрес электронной почты;</li>
              <li>
                  Место жительство физического лица, место нахождение ИП или
                  юридического лица;
              </li>
              <li>Паспортные данные физического лица;</li>
              <li>
                  Регистрационные данные ИП или юридического лица (номер, дата
                  свидетельства о регистрации, БИН);
              </li>
              <li>
                  Информация о руководителе ИП или юридического лица (ФИО паспортные
                  данные);
              </li>
              <li>
                  Информация об образовании (наименование образовательного учреждения,
                  сведения о документах, подтверждающие образование: наименование,
                  номер, дата выдачи, специальность);
              </li>
              <li>Телефонный номер (домашний, рабочий, мобильный);</li>
              <li>
                  Данные предоставленные в процессе использования сервисов портала,
                  первичные статистические данные;
              </li>
              <li>Сфера деятельности Компании;</li>
              <li>Информация о виде деятельности Компании;</li>
              <li>Данные по количеству сотрудников;</li>
              <li>
                  Прочие данные Пользователя, собираемые с целью корректного заполнения
                  анкетных данных.
              </li>
              <br />
              5.3. Сбор, обработка и трансграничная передача (при необходимости)
              Персональных данных Пользователя осуществляется Исполнителем для
              следующих целей, включая, но не ограничиваясь:
              <br />
              <ul>
                  <li>
                      в целях надлежащего исполнения Соглашения, а также прав и
                      обязанностей, возложенных на Оператора/Исполнителя законодательством
                      РК в рамках настоящего Соглашения;
                  </li>
                  <li>
                      для проведения исследований, направленных на улучшение качества
                      Услуг;
                  </li>
                  <li>
                      для проведения маркетинговых программ, статистических исследований,
                      а также для продвижения Услуг путем осуществления прямых контактов с
                      Пользователем с помощью различных средств связи, включая, но не
                      ограничиваясь: почтовая рассылка, электронная почта, телефонная и
                      (или) факсимильная связь, сеть Интернет и т.п.
                  </li>
                  <li>
                      выработка инструментов по повышению устойчивости МСБ и улучшению мер
                      государственной поддержки на основе системного анализа через
                      определение потребностей субъектов предпринимательства с учетом
                      территориального развития.
                  </li>
              </ul>
              5.4. В случае, если Пользователь в рамках заключенного Соглашения
              предоставляет персональные данные за третье лицо, то заключение
              настоящего Соглашения признается Сторонами как заранее полученное
              Пользователем согласие указанного лица на распространение и обработку
              его Персональных данных. Ответственность за предоставление Персональных
              данных третьего лица возлагается на Пользователя.
              <br />
              5.5. Исполнитель вправе осуществлять записи телефонных разговоров с
              Пользователем. При этом обязуется: предотвращать попытки
              несанкционированного доступа к информации, полученной в ходе телефонных
              переговоров, и/или передачу ее третьим лицам, не имеющим
              непосредственного отношения к исполнению Услуг.
              <br />
              <strong>6. Обстоятельства непреодолимой силы (ФОРС-МАЖОР)</strong>
              <br />
              6.1. Сторона освобождается от ответственности за частичное или полное
              неисполнение, или ненадлежащее исполнение обязательства, если это
              явилось следствием обстоятельств непреодолимой силы, возникших после
              заключения Соглашения в результате обстоятельств чрезвычайного
              характера, которые Сторона не могла предвидеть или предотвратить.
              <br />
              6.2. Под обстоятельствами непреодолимой силы понимаются: наводнение,
              пожар, землетрясение, стихийные явления, эпидемия, война или военные
              действия, а также решения органов государственной власти. При
              наступлении таких обстоятельств Сторона, испытывающая их действие,
              должна в течение 1 (одного месяца) известить о них в письменном виде
              другую Сторону. Сторона, ссылающаяся на обстоятельства непреодолимой
              силы, должна представить другой Стороне официальные документы,
              удостоверяющие наличие этих обстоятельств и, по возможности, дающие
              оценку их влияния на возможность исполнения Стороной своих обязательств
              по настоящему Соглашению. Не требуют доказывания обстоятельства
              непреодолимой силы, имеющие общеизвестный характер. Если Сторона,
              подвергшаяся воздействию обстоятельств непреодолимой силы, не направит
              регламентированные Соглашением документы, удостоверяющие наличие этих
              обстоятельств, то такая Сторона лишается права ссылаться на такие
              обстоятельства как на основание, освобождающее ее от ответственности за
              неисполнение или ненадлежащее исполнение обязательств по Соглашению.
              <br />
              6.3. В случаях наступления обстоятельств непреодолимой силы срок
              выполнения Стороной обязательств по Соглашению отодвигается соразмерно
              времени, в течение которого действуют эти обстоятельства и их
              последствия. Если наступившие обстоятельства непреодолимой силы и их
              последствия продолжают действовать более 3 (трех) месяцев, Стороны
              проводят дополнительные переговоры для определения приемлемых
              альтернативных способов исполнения Соглашения, или обязательства Сторон
              прекращаются невозможностью исполнения с момента возникновения
              обстоятельств непреодолимой силы.
              <br />
              <strong>7. Ответственность сторон</strong>
              <br />
              7.1. За неисполнение или ненадлежащее исполнение своих обязательств по
              настоящему Соглашению Стороны несут ответственность согласно
              действующему законодательству Республики Казахстан.
              <br />
              7.2. В случае нарушения условий настоящего Соглашения, повлекшего
              причинение вреда всем или одной из сторон Соглашения, виновная сторона
              несет ответственность в соответствии с законодательством Республики
              Казахстан.
              <br />
              7.3. Оператор не несет ответственности за технические временные сбои и
              перерывы в работе Портала и его компонентах, возникшие по независящим от
              Оператора причинам или в случае проведения плановых или внеплановых
              мероприятий по обслуживанию Портала и его компонентов.
              <br />
              7.4. Оператор не несет ответственности за временные сбои и перерывы в
              работе линий связи, иные аналогичные сбои, а также за неполадки
              компьютера, мобильного устройства связи, с которого Пользователь
              осуществляет доступ к Порталу и его компонентам.
              <br />
              7.5. Оператор не несет ответственности перед Пользователем за действия
              других Пользователей и любых других участников Портала и его
              компонентов.
              <br />
              7.6. Оператор не несет ответственности за любой прямой, косвенный ущерб,
              включая упущенную выгоду, ущерб от использования, потерю данных или
              какие-либо другие нематериальные потери, ущерб репутации и иной ущерб,
              возникающий вследствие:
              <br />
              1) пользования или невозможности пользования Порталом, и его
              компонентами Пользователями;
              <br />
              2) изменения условий Соглашения Оператором.
              <br />
              7.7. Пользователь несет полную ответственность за достоверность
              предоставляемых данных при регистрации на Портале и его компонентах, а
              также за несвоевременное обновление и корректировку данных в процессе
              использования Портала.
              <br />
              7.8. Пользователь принимает на себя все риски и возможный ущерб,
              возникший в результате предоставления им недостоверных сведений о себе,
              а также за передачу собственных данных, паролей и ЭЦП третьим лицам,
              связанных с регистрацией на Портале и его компонентах, и использованием
              его компонентов.
              <br />
              <strong>8. Исключительное право на содержание Сервисов и контент</strong>
              <br />
              8.1. Оператор сохраняет исключительные права на Сервис, включая, но не
              ограничиваясь, доменное имя, размещенный на Сервисе логотип, базы
              данных, все технические разработки и т.д.
              <br />
              8.2. Соглашение не означает передачу Пользователю никаких прав на
              программы, базы данных и других прав на интеллектуальную собственность
              Правообладателя Сервиса.
              <br />
              8.3. Иные права Правообладателя защищены законодательством Республики
              Казахстан и соглашениями об авторских правах, а также другими законами и
              соглашениями, регулирующими отношения, которые могут возникнуть в
              отношении прав на интеллектуальную собственность.
              <br />
              <strong>9. Порядок изменения и расторжения Соглашения</strong>
              <br />
              9.1. Оператор/Исполнитель имеет право отозвать свое предложение о
              заключении Соглашения в любое время.
              <br />
              9.2. Расторжение Соглашения по инициативе Оператора/Исполнителя
              совершаются в той же форме, что и заключение Соглашения, путем
              размещения на Портале Исполнителем уведомления о расторжении Соглашения.
              Уведомление о расторжении Соглашения размещается Оператором/Исполнителем
              на Портале за 10 (десять) календарных дней до дня вступления его в силу.
              Соглашение считается расторгнутым по инициативе Оператора/Исполнителя со
              дня вступления в силу уведомления о расторжении.
              <br />
              9.3. Оператор/Исполнитель может в одностороннем порядке внести изменения
              и/или дополнения в Соглашение путем размещения на Портале измененной
              редакции Соглашения. Такие изменения считаются принятыми Пользователем
              если по истечении 7 (семи) календарных дней с даты их опубликования
              Пользователь продолжает пользоваться услугами Портала.
              <br />
              <strong>10. Отсутствие гарантий, ограничение ответственности</strong>
              <br />
              10.1. Оператор/Исполнитель не гарантирует достоверность, точность,
              полноту и cвоевременность информации, размещенной на Портале.
              Пользователь самостоятельно должен оценивать риски, связанные с
              использованием (невозможностью использования) функций, информации,
              данных и т.п. Портала, включая их оценку на актуальность, надежность,
              полноту, достаточность, полезность и т.п.
              <br />
              10.2. Пользователь несет ответственность за использование информации,
              включая Базы данных и иные Сервисы, доступ к которой Пользователь
              получает с использованием Портала, и за последствия такого
              использования, а также несет ответственность перед третьими лицами за
              свои действия при использовании Портала, в том числе за то, что его
              действия соответствуют требованиям Законодательства Республики Казахстан
              и не нарушают права и законные интересы третьих лиц.
              <br />
              10.3. Пользователь самостоятельно и за свой счет обязуется урегулировать
              все претензии и (или) иски третьих лиц, связанные с действиями
              Пользователя при использовании Портала, а также материалов и (или)
              данных, полученных с использованием Портала.
              <br />
              10.4. Оператор/Исполнитель не несет ответственности и не возмещает любые
              убытки, причиненные Пользователю или третьим лицам в результате
              использования или невозможности использования функций, информации и
              услуг, имеющихся или получаемых с помощью Платформы.
              <br />
              10.5. В случае если в результате действий Пользователя
              Оператору/Исполнителю будут причинены убытки или Оператор/Исполнитель
              будет привлечен к ответственности, то Пользователь обязуется
              компенсировать Оператору/Исполнителю все убытки в полном размере.
              <br />
              <strong>11. Разрешение споров</strong>
              <br />
              11.1. Досудебное урегулирование спора осуществляется путем переговоров и
              предъявления претензий и является обязательным.
              <br />
              11.2. Получатель претензии в течение 10 рабочих дней со дня её
              получения, письменно уведомляет заявителя о результатах рассмотрения
              претензии.
              <br />
              11.3. При невозможности разрешить спор в досудебном порядке, любая из
              сторон вправе обратиться за защитой своих прав в судебные органы. Все
              споры разрешаются в порядке, предусмотренном действующим
              законодательством Республики Казахстан в Межрайонном экономическом суде
              г. Алматы.
              <br />
              <strong>12. Заключительные положения</strong>
              <br />
              12.1. Соглашение, а также все правоотношения, возникающие в связи с
              исполнением настоящего Соглашения, регулируются и подлежат толкованию в
              соответствии с законодательством Республики Казахстан.
              <br />
              12.2. Ввиду того, что оказываемые в рамках настоящего Соглашения
              информационные и интерактивные услуги оказываются бесплатно, а также в
              связи с тем, что они предназначены для осуществления предпринимательской
              деятельности, нормы, предусмотренные Законодательством РК о защите прав
              потребителей, к отношениям между Пользователем и Исполнителем/Оператором
              не применяются.
              <br />
              12.3. Настоящее Соглашение вступает в силу с момента начала
              использования Посетителем Сервисов, независимо от факта регистрации или
              авторизации Пользователя и действует до размещения на Сервисе
              официального извещения об отзыве Соглашения.
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="button" id="accept" class="btn" data-bs-dismiss="modal" style="background-color : #63aa48; color: #fff;">Потвердить</button>
          </div>
        </div>
      </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script> 
  
    <script type="text/javascript"> 
    $(document).on('submit','#task-form',function(e){ 
        e.preventDefault(); 
        $.ajax({ 
            type:'POST', 
            url:'{% url "index" %}', 
            data: 
            { 
                full_name:$("#id_full_name").val(),
                phone_number:$("#id_phone_number").val(),
                email:$("#id_email").val(),
                company_name:$("#id_company_name").val(),
                identification_number:$("#id_identification_number").val(),
                activity:$("#id_activity").val(),
                description:$("#id_description").val(),
                number_of_completed_years:$("#id_number_of_completed_years").val(),
                employee_count:$("#id_employee_count").val(),
                is_recording_customers:$("#id_is_recording_customers").val(),
                is_recording_average_check:$("#id_is_recording_average_check").val(),
                course_type:$("#id_course_type").val(),
                automation_system:$("#id_automation_system").val(),
                problem_or_task:$("#id_problem_or_task").val(),
                participation_purpose:$("#id_participation_purpose").val(),
                lang:$("#id_lang").val(),
                particippromo_codeation_purpose:$("#id_particippromo_codeation_purpose").val(), 
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() 
            }, 
            success:function(){ 
                  alert('Ваша заявка успешно отправлено'); 
                  
                $("#id_full_name").val(''),
                $("#id_phone_number").val(''),
                $("#id_email").val(''),
                $("#id_company_name").val(''),
                $("#id_identification_number").val(''),
                $("#id_activity").val(''),
                $("#id_description").val(''),
                $("#id_number_of_completed_years").val(''),
                $("#id_employee_count").val(''),
                $("#id_is_recording_customers").val(''),
                $("#id_is_recording_average_check").val(''),
                $("#id_course_type").val(''),
                $("#id_automation_system").val(''),
                $("#id_problem_or_task").val(''),
                $("#id_participation_purpose").val(''),
                $("#id_lang").val(''),
                $("#id_particippromo_codeation_purpose").val('')
                    } 
            }) 
        }); 
    </script>
<script src="{% static 'js/imask.js' %}"></script>
        <script>

          // для регулировки высоты
          // document.getElementById("id_description").style.height = "40px";
          // для other
          // const usedAutomation = document.getElementById("id_is_used_automation");
          // const autoSystem = document.getElementById("id_automation_system");
          // const problemTask = document.getElementById("id_problem_or_task");
          // const participationPurpose = document.getElementById("id_participation_purpose");
          // another
          // const anotherAutoSystem = document.getElementById("id_another_automation_system");
          // const anotherProblemTask = document.getElementById("id_another_problem_or_task");
          // const anotherParticipationPurpose = document.getElementById("id_another_participation_purpose");
          // отключить экраны
          // function displayNone(){
          //   anotherAutoSystem.parentElement.style.display = "none";
          //   anotherProblemTask.parentElement.style.display = "none";
          //   anotherParticipationPurpose.parentElement.style.display = "none";
          // }
          // displayNone();

          // для отключение и вклчение other
          // function listenerInput(param1, param2){
          //   param1.addEventListener("change", function(){
          //   console.log(param1.options[param1.selectedIndex])
          //   let temp = param1.options[param1.selectedIndex].getAttribute("data-other");
          //   if(temp ===  "True"){
          //    param2.parentElement.style.display = "block";
          //    console.log(param2.parentElement);
          //   } else if(param2.parentElement.style.display === "block"){
          //       param2.parentElement.style.display = "none"
          //   }
          // })
          // }

          // listenerInput(autoSystem, anotherAutoSystem);
          // listenerInput(problemTask, anotherProblemTask);
          // listenerInput(participationPurpose, anotherParticipationPurpose);

          // let layer = document.getElementById("btn-layer");
          // let submit = document.getElementById("btn-submit");
          // let accept = document.getElementById("accept");
          // let checkboxLayer = document.getElementById("checkbox-layer");

          // accept.addEventListener("click", function(){
          //   submit.disabled = false
          // })

          // checkboxLayer.addEventListener("change", function(){
          //   submit.disabled = false
          // })

          // let element = document.getElementById('id_phone_number');
          // var maskOptions = {
          //   mask: '+{7}(000)000-00-00'
          // };
          // var mask = IMask(element, maskOptions);
        
          var checkbox = document.getElementById('checkbox-layer');
          var button = document.getElementById('myButton');

          // Добавляем слушателя события 'change' на чекбокс
          checkbox.addEventListener('change', function() {
              // Если чекбокс отмечен, активируем кнопку, иначе деактивируем
              if (checkbox.checked) {
                  button.removeAttribute('disabled');
              } else {
                  button.setAttribute('disabled', true);
              }
          });
        // Число
        var numericInput = document.getElementById('id_number_of_completed_years');
        numericInput.addEventListener('input', function() {
        
        var inputValue = this.value.replace(/[^0-9]/g, '');
        var maskOptions = {
            mask: '00',  // Две цифры, начиная с 0
            signed: false, // Отрицательные числа не допускаются
            normalizeZeros: true, // Привести числа к виду "0X"
            radix: '.'    // Десятичный разделитель
        };
        var mask = IMask(numericInput, maskOptions);
        // Проверяем, что ввод находится в диапазоне от 0 до 99
        if (inputValue !== "") {
            var numberValue = parseInt(inputValue, 10);
            if (numberValue < 0) {
                numberValue = 0;
            } else if (numberValue > 99) {
                numberValue = 99;
            }
            this.value = numberValue;
        }
    });
        </script>