{% extends 'base.html' %}
{% load static i18n %}


{% block body %}
    <main>
        <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image:url({% static 'img/DSC03244.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="page__title-wrapper mt-5">
                            <h3 class="page__title">История проекта</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="brand__area pb-5" style="padding-top: 130px;">
            <div class="container">
                <div class="row">
                    <div class="about__content mt-5">
                        <div class="blog__wrapper">
                            <div class="blog__text text-justify mb-5">
                                <h3 class="text-center">История проекта</h3>
                                <p class="text-justify">Здесь Вы найдете отзывы участников нашей программы прошлых лет. 
                                    Наш проект был запущен несколько лет назад, когда мы осознали потребность предпринимателей города Алматы в обучении ведению бизнеса. Мы собрали команду талантливых и мотивированных специалистов для реализации нашей программы и помощи малому и среднему бизнесу города. <br>
                                    Видео-нарезки, которые Вы найдете на это странице, отражают удовлетворенность предпринимателями нашей программой и успехи, которые им удалось добиться после прохождения обучения.</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row"></div>
            </div>
        </section>

                <!-- section course  -->
                <section class="course__area grey-bg" style="padding:30px 0 20px;">
                    <div class="container">

                        <div class="d-flex flex-column">

                            <!-- <div class="row ">
                                <div class="section__title-wrapper justify-content-center d-flex" style="margin-bottom:60px">
                                    <h2 class="section__title">
                                        <span class="yellow-bg yellow-bg-big">
                                            Видеоуроки
                                            <img src="img/yellow-bg.png" alt="">
                                        </span>
                                    </h2>
                                </div>
                            </div> -->
                            <!-- filter apanel -->
                            <div class="row">
                                <div class="course__menu" style="margin-bottom:60px">
                                    <div class="masonary-menu filter-button-group d-flex justify-content-start">
                                        <button class=" d-block" data-filter="*">
                                            2022
                                        </button>
                                        <button class="d-block active" data-filter=".cat1">2021</button>
                                        <button class="d-block " data-filter=".cat1">2020</button>
                                    </div>
                                </div>
                            </div>
                            <!-- filter apanel end-->

                        </div>

                        <div class="row grid">
                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 cat4">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Отзыв</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <!-- <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    1 занятие
                                                </span>
                                            </div> -->

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html">
                                                Определение автоматизации и подходы
                                                </a>
                                        </h3>
                                        <!-- <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Айзат Перуашева
                                            </h6>
                                        </div> -->

                                    </div>

                                </div>
                            </div>
                            <!-- on block course  end-->

                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat3 cat4">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Отзыв</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <!-- <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    2 занятие
                                                </span>
                                            </div> -->

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html">
                                                Определение ресурсов, необходимых для автоматизации
                                                </a>
                                        </h3>
                                        <!-- <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Айзат Перуашева
                                            </h6>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                            <!-- on block course  end-->


                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4 cat3">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Отзыв</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <!-- <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    3 занятие
                                                </span>
                                            </div> -->

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html"> Подбор процесса для первоочередной автоматизации </a>
                                        </h3>
                                        <!-- <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Айзат Перуашева
                                            </h6>
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                            <!-- on block course  end-->

                        </div>

                    </div>
                </section>
                <!-- section course  end-->






    </main>
{% endblock body %}
