<!DOCTYPE html>
<html lang="en">
@@include('html/head.html',{
    "title" : "Эффективные"
})
<body>
    @@include('html/header.html',{
        "main": "main-menu-3",
        "imagePath": "img/footer-logo.svg"
    })
    <main>
        <!-- <img src="@img/road-1072823.jpg" alt=""> -->
        <!-- <img src="@img/user.png" alt=""> -->

        <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image:url('img/about.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="page__title-wrapper mt-5">
                            <h3 class="page__title">Эффективный бизнес</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="brand__area pb-5">
            <div class="container">
                <div class="row">
                    <div class="about__content mt-5">
                        <div class="blog__wrapper">
                            <div class="blog__text text-justify mb-5">
                                <h2 class="section__title text-center">
                                    <span class="yellow-bg yellow-bg-big">
                                        Эффективный бизнес
                                        <img src="img/yellow-bg.png" alt="">
                                    </span>
                                </h2>
                                <p class="text-justify">Эффективный бизнес - это бизнес, который успешно достигает своих целей и обеспечивает прибыль своим владельцам и участникам. Это может быть любой вид бизнеса, от малого предпринимательства до крупных корпораций. Однако, чтобы бизнес был эффективным, нужно уметь правильно управлять им, определять стратегические цели, создавать эффективные бизнес-процессы, управлять рисками и принимать решения на основе анализа данных.</p>
                            <p class="text-justify">Эффективные курсы могут помочь предпринимателям и менеджерам улучшить свои навыки и знания, необходимые для создания и развития эффективного бизнеса. Они могут включать в себя такие темы, как управление проектами, финансовое планирование, маркетинг, управление рисками, лидерство и другие.</p>
                            <p class="text-justify">Цель эффективных курсов - помочь предпринимателям и менеджерам улучшить свои навыки и знания, чтобы они могли создавать и развивать эффективный бизнес, который будет приносить им прибыль и удовлетворение от работы.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </section>

                <!-- section datePicker -->

                <section class="services__area"  data-bs-spy="scroll" data-bs-target="#statement-btn" data-bs-offset="0"  tabindex="0" style="padding:0 0 20px;">

                    <div class="container" id="statement">
                        <div class="section__title-wrapper section-padding mb-5 text-center">
                            <h2 class="section__title">Выбрать
                            <span class="yellow-bg">
                                дату <span class="material-symbols-outlined" style="font-size: 40px; margin-left:-20px; position:relative; top:-12px; color: #63aa48;">school</span>
                                <img src="img/yellow-bg.png" alt="">
                            </span>
                        </h2>
                        </div>
                        <div class="row">

                            <div class="col-xxl-3 col-xl-3 col-lg-3">
                                <!-- <select name="language-date" id="language-date" >
                                    <option value="0" selected>kaz</option>
                                    <option value="1">ru</option>
                                </select> -->
                                <div id="dates-courses"  class="" data-date="13/02/2023"></div>
                            </div>

                            <div class="col-xxl-9 col-xl-9 col-lg-9">

                                <div class="row" style="max-height: 533px; overflow-y:auto">








                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-3">
                                        <div class="category__item mb-30 transition-3 d-flex align-items-center">

                                            <div class="category__content">
                                                <h4 class="category__title">
                                                    <a href="course.html">
                                                        Эффективный бизнес
                                                    </a>
                                                    <p class="fs-6">13.02, 15.02, 17.02</p>
                                                    <p class="fs-6 fw-bolder color__course" ></p>
                                                    <div class="d-flex flex-row justify-content-start align-items-center">
                                                        <div class=""><span class="material-symbols-outlined">person</span></div> <div class="ms-2">Каминский Сергей</div>
                                                    </div>
                                                </h4>
                                            </div>

                                        </div>

                                    </div>


<!--
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                                        <div class="category__item mb-30 transition-3 d-flex align-items-center">

                                            <div class="category__content">
                                                <h4 class="category__title">
                                                    <a href="course.html">
                                                        Эффективный бизнес
                                                    </a>
                                                    <p class="fs-6">13.02, 15.02, 17.02</p>
                                                    <p class="fs-6 fw-bolder color__course" ></p>
                                                    <div class="d-flex flex-row justify-content-start align-items-center">
                                                        <div class=""><span class="material-symbols-outlined">person</span></div> <div class="ms-2">Каминский Сергей</div>
                                                    </div>
                                                </h4>
                                            </div>

                                        </div>

                                    </div> -->
<!--
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                                        <div class="category__item mb-30 transition-3 d-flex align-items-center">

                                            <div class="category__content">
                                                <h4 class="category__title">
                                                    <a href="course.html">
                                                        Эффективный бизнес
                                                    </a>
                                                    <p class="fs-6">13.02, 15.02, 17.02</p>
                                                    <p class="fs-6 fw-bolder color__course"></p>
                                                    <div class="d-flex flex-row justify-content-start align-items-center">
                                                        <div class=""><span class="material-symbols-outlined">person</span></div> <div class="ms-2">Каминский Сергей</div>
                                                    </div>
                                                </h4>
                                            </div>

                                        </div>

                                    </div> -->


                                </div>

                            </div>

                        </div>

                    </div>

                </section>

                <!-- section datePicker end -->


                <!-- section course  -->
                <section class="course__area grey-bg" style="padding:30px 0 20px;">
                    <div class="container">

                        <div class="d-flex flex-column">

                            <!-- <div class="row ">
                                <div class="section__title-wrapper justify-content-center d-flex" style="margin-bottom:60px">
                                    <h2 class="section__title">
                                        <span class="yellow-bg yellow-bg-big">
                                            Эффективный бизнес
                                            <img src="img/yellow-bg.png" alt="">
                                        </span>
                                    </h2>
                                </div>
                            </div> -->
                            <!-- filter apanel -->
                            <!-- <div class="row">
                                <div class="course__menu" style="margin-bottom:60px">
                                    <div class="masonary-menu filter-button-group d-flex justify-content-start">
                                        <button class=" d-block active" data-filter="*">
                                            Эффективый бизнес

                                        </button>
                                        <button class="d-block" data-filter=".cat1">Компетенция</button>
                                        <button class="d-block" data-filter=".cat1">Специализация</button>
                                    </div>
                                </div>
                            </div> -->
                            <!-- filter apanel end-->

                        </div>

                        <div class="row grid">
                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 cat4">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <!-- <iframe width="376" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                                        <img src="img/эффективный бизнес.png" alt="">
                                        <div class="course__tag">
                                            <!-- <a href="courses.html">Эффективный бизнес</a> -->
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <!-- <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    1 занятие
                                                </span>
                                            </div> -->

                                        </div>
                                        <h3 class="course__title">
                                            <button type="button"  data-bs-toggle="modal" data-bs-target="#sergiy" class="btn btn-curse text-capitalize">Эффективный бизнес</button>
                                        </h3>
                                        <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Каминский Сергей
                                            </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- on block course  end-->



                        </div>
                    </div>
                </section>
                <!-- section course  end-->



  <!-- Modal -->
  <div class="modal fade" id="sergiy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="section__title text-center">
                <span class="yellow-bg yellow-bg-big">
                    Эффективный бизнес
                    <img src="img/yellow-bg.png" alt="">
                </span>
            </h2>
          <button type="button" class="btn-close btn-default" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                 <div class="col-12">
                    <table class="table table_not_border table-hover" style="background: #fff;">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Урок</th>
                              <th scope="col">Что узнаете ?</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td><b>Бизнес как система</b></td>
                              <td>Что есть устойчивый бизнес? Почему важно смотреть на бизнес, как на систему? <br>
                                Этапы построения прибыльного бизнеса. Структура и составление бизнес-плана<br>
                                С какими циклами сталкивается бизнес в процессе своей эволюции? <br>
                            </td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td><b>Управленческий анализ</b></td>
                              <td>Перечень  внешних факторов и внутренних ресурсов с учетом специфики бизнеса, степень их влияния. Как эффективно оценить ресурсы Вашего бизнеса и "выжать" из них максимум?С какими внешними факторами может столкнуться бизнес и как минимизировать их возможные негативные влияния?<br>
                                Инструменты повышения эффективности бизнеса. <br>
                                Моделирование, управление, анализ и автоматизация бизнес процессов. <br>
                            </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td ><b>Стратегия</b></td>
                              <td >Кому необходима миссия компании. Этапы разработки миссии компании. Оценка эффективности.<br>
                                Цели и назначения стратегии, виды, правила оценки выбранной стратегии. Путь из точки А в точку В<br>
                                Удачные  и не удачные примеры миссий и стратегий и последствия. Практикум с предпринимателями по составлению миссии и стратегии.<br>
                            </td>
                            </tr>
                          </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #63aa48; color: #fff;" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>


    </main>
    @@include('html/footer.html',{})
    <script src="js/app.min.js"></script>
</body>
</html>
