<!DOCTYPE html>
<html lang="en">
@@include('html/head.html',{
    "title" : "Видео уроки"
})
<body>
    @@include('html/header.html',{
        "main": "main-menu-3",
        "imagePath": "img/footer-logo.svg"
    })
    <main>
        <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" style="background-image:url('img/about.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="page__title-wrapper mt-5">
                            <h3 class="page__title">Видео уроки</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="brand__area pb-5">
            <div class="container">
                <div class="row">
                    <div class="about__content mt-5">
                        <div class="blog__wrapper">
                            <div class="blog__text text-justify mb-5">
                                <h3 class="text-center">Видео уроки</h3>
                                <p class="text-justify">Этот курс познакомит вас с основами предпринимательства, включая создание бизнес-плана, поиск финансирования и управление бизнесом.</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row"></div>
            </div>
        </section>

                <!-- section course  -->
                <section class="course__area grey-bg" style="padding:30px 0 20px;">
                    <div class="container">

                        <div class="d-flex flex-column">

                            <!-- <div class="row ">
                                <div class="section__title-wrapper justify-content-center d-flex" style="margin-bottom:60px">
                                    <h2 class="section__title">
                                        <span class="yellow-bg yellow-bg-big">
                                            Видеоуроки
                                            <img src="img/yellow-bg.png" alt="">
                                        </span>
                                    </h2>
                                </div>
                            </div> -->
                            <!-- filter apanel -->
                            <div class="row">
                                <div class="course__menu" style="margin-bottom:60px">
                                    <div class="masonary-menu filter-button-group d-flex justify-content-between">
                                        <button class=" d-block" data-filter="*">
                                            Все
                                            <!-- <span class="tag">
                                                Новинки
                                            </span> -->
                                        </button>
                                        <button class="d-block active" data-filter=".cat1">Автоматизация бизнеса</button>
                                        <button class="d-block" data-filter=".cat1">Государственные закупки</button>
                                        <button class="d-block" data-filter=".cat1">Экспортная деятельность</button>
                                        <button class="d-block" data-filter=".cat3">Управление финансами</button>
                                    </div>
                                </div>
                            </div>
                            <!-- filter apanel end-->

                        </div>

                        <div class="row grid">
                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat2 cat4">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Автоматизация бизнеса</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    1 занятие
                                                </span>
                                            </div>

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html">
                                                Определение автоматизации и подходы
                                                </a>
                                        </h3>
                                        <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Каминский Сергей
                                            </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- on block course  end-->

                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat3 cat4">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Автоматизация бизнеса</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    2 занятие
                                                </span>
                                            </div>

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html">
                                                Определение ресурсов, необходимых для автоматизации
                                                </a>
                                        </h3>
                                        <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Каминский Сергей
                                            </h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- on block course  end-->


                            <!-- on block course -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4 cat3">
                                <div class="course__item white-bg fix" style="margin-bottom:30px">
                                    <div class="course__thumb w-img p-relative fix">
                                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/W0jqcKuSBhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        <div class="course__tag">
                                            <a href="courses.html">Автоматизация бизнеса</a>
                                        </div>
                                    </div>
                                    <div class="course__content">
                                        <div class="course__meta d-flex align-items-center justify-content-between">
                                            <div class="course__lesson">
                                                <span class="d-flex flex-row justify-content-between align-items-center">
                                                    <i class="material-symbols-outlined">import_contacts</i>
                                                    3 занятие
                                                </span>
                                            </div>

                                        </div>
                                        <h3 class="course__title">
                                            <a href="course.html"> Подбор процесса для первоочередной автоматизации </a>
                                        </h3>
                                        <div class="course__teacher d-flex align-items-center">
                                            <div class="course__teacher-thumb " style="margin-right:15px;">
                                                <img src="img/kaminski.jpg" alt="">
                                            </div>
                                            <h6>
                                                Каминский Сергей
                                            </h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- on block course  end-->

                        </div>

                    </div>
                </section>
                <!-- section course  end-->






    </main>
    @@include('html/footer.html',{})
    <script src="js/app.min.js"></script>
</body>
</html>
